.App {

}

.todoList {
	width: 500px;
	margin: 0 auto;
}

.todoList div {
	padding: 3px;
}

.todoList-task {

}

.filter-active {
	background-color: dodgerblue;
}

button {
	font-size: 18px;
}

input {
	font-size: 16px;
}

.error {
	border-color: red;
}


