.App {
	display: flex;
	flex-wrap: wrap;
}

.todoList {
	width: 300px;
	margin: 0 auto;
}

.todoList-header {

}

.todoList div {
	padding: 3px;
}

.todoList-task {

}

.todoList-task.done {
	opacity: 0.5;
}

.filter-active {
	background-color: dodgerblue;
}

button {
	font-size: 18px;
}

input {
	font-size: 16px;
}

.error {
	border-color: red;
}


